version: '3'
services:

  web:
    container_name: web
    build:
      context: ./
      dockerfile: Dockerfile
    command: gunicorn django_rest_framework_17th.wsgi:application --bind 0.0.0.0:8000
    environment:
      DJANGO_SETTINGS_MODULE: django_rest_framework_17th.settings.prod
    env_file:
      - .env.prod
    expose:
      - 8000
    volumes:
      - static:/home/app/web/static
      - media:/home/app/web/media
    entrypoint:
      - sh
      - config/docker/entrypoint.prod.sh

  nginx:
    container_name: nginx
    build: ./config/nginx
    volumes:
      - static:/home/app/web/static
      - media:/home/app/web/media
    ports:
      - "80:80"
    depends_on:
      - web

volumes:
  static:
  media: