<form method="POST" action="{% url 'timetables:create_subject' timetable.id %}">
    {% csrf_token %}
    name:
    <br>
    <input name="name" type="text">
    <br>
    teacher:
    <br>
    <input name="teacher" type="text">
    <br>
    place:
    <br>
    <input name="place" type="text">
    <br>
    day:
    <br>
    <input type="radio" value="Monday" name="day"> Monday
    <input type="radio" value="Tuesday" name="day"> Tuesday
    <input type="radio" value="Wednesday" name="day"> Wednesday
    <input type="radio" value="Thursday" name="day"> Thursday
    <input type="radio" value="Friday" name="day"> Friday
    <input type="radio" value="Saturday" name="day"> Saturday
    <input type="radio" value="Sunday" name="day"> Sunday
    <br>
    start_time:
    <br>
    <input name="start_time" type="time">
    <br>
    end_time:
    <br>
    <input name="end_time" type="time">
    <br>

    <input type="submit" class="btn btn-primary" value="create_subject">
</form>